@charset "UTF-8";

/*
em HTML e ID    = em CSS e #
em HTML e class = em CSS e .
*/

body{
    background-color: rgb(135, 212, 187);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: aquamarine;
}

#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2{
    color: rgb(77, 143, 121);
    font-weight: bold;
}

.basico{
    color: blue;

}

.intermediario{
    color: blueviolet;
}

.avancado{
    color: brown;

}

.destaque{
    background-color: rgba(173, 173, 84, 0.63);
}