body{
            background-color: rgb(153, 150, 150);
            font-family: Arial, Helvetica, sans-serif;
            margin: 0px;
        }
        header{
            background-color: aquamarine;
            padding: 10px;
            margin: 10px;
            border-radius: 15px 0 15px 0;
        }

        nav{
            background-color: gray;
            border-radius: 15px 0 15px 0;
            padding: 10px;
            margin: 10px;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

        }

        nav > a{
            text-decoration: none;
            color: white;
            font-weight: bold;
            margin-right: 30px;
        }

        nav > a:hover{
            text-decoration: underline;
        }
        main{
            background-color: white;
            padding: 10px;
            padding-bottom: 600px;
            margin: 10px;
            border-radius: 15px;
            
        }
        footer{
            background-color: rgb(0, 0, 0);
            color: white;
            text-align: center;
            padding: 4px;
            margin: 0px;
            
        }
        
        footer > p{
            margin: 10px;
        }