@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;  
}

body{
    background-image: linear-gradient(130deg, #e6db3c 40%, #d07cdb, #F7F7F2); 
background-attachment: fixed;
}
main{
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #140D4F;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #64645c;
    text-align: center;
    text-shadow: 1px 1px 2px #242421;
}

h2{
    color: #c78953;
}

p{
    text-align: justify;
}