@charset "UTF-8";

body {
  background-color: rgb(208, 184, 240);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1 {
  color: rgb(83, 82, 82);
  background-color: rgb(158, 166, 245);
  text-decoration: underline;
  

}

h2 {
  color: rgb(0, 0, 0);
  
}

p {
  text-align: center;
}
